{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="text-center">
        <h1><i class="fa fa-car"></i> Bliblicar accueil</h1>
        <h2>Liste trajets</h2>
    </div>
{% endblock %}